<link rel="stylesheet" href="/css/index/index.css">

<style>
    .container-frota {
        text-align: center;
        margin-top: 30px;
    }

    .container-frota p {
        position: relative;
        bottom: 12px;
    }

    .dropdown-toggle {
        margin-right: 0px;
      }
</style>

<div class="container-frota">
    <h1>Bem-vindo ao sistema Frota-Awp web.</h1>
    <p>Sistema desenvolvido para o controle de frotas.</p>
</div>

<div class="container-dashboard">
    <div class="dashboard-comissao">
        <p>Comissão</p>
        <span class="valor">R$ +1.300,00</span>
    </div>

    <div class="dashboard-adiantamento">
        <p>Adiantamento</p>
        <span  class="valor">R$ -1.300,00</span>
    </div>



</div>