<style>
    .container-frota {
        text-align: center;
        margin-top: 30px;
    }

    .container-frota p {
        position: relative;
        bottom: 12px;
    }
</style>

<div class="container-frota">
    <h1>Bem-vindo ao sistema Frota-Awp web.</h1>
    <p>Sistema desenvolvido para o controle de frotas.</p>
</div>